<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Porter | Dashboard</title>

    <script>
      window.intercomSettings = {
        app_id: "<%= htmlWebpackPlugin.options.intercomAppId %>",
        custom_launcher_selector: "#intercom_help",
      };
    </script>

    <script>
      // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/gq56g49i'
      (function () {
        var w = window;
        var ic = w.Intercom;
        if (typeof ic === "function") {
          ic("reattach_activator");
          ic("update", w.intercomSettings);
        } else {
          var d = document;
          var i = function () {
            i.c(arguments);
          };
          i.q = [];
          i.c = function (args) {
            i.q.push(args);
          };
          w.Intercom = i;
          var l = function () {
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = "<%= htmlWebpackPlugin.options.intercomSrc %>";
            var x = d.getElementsByTagName("script")[0];
            x.parentNode.insertBefore(s, x);
          };
          if (document.readyState === "complete") {
            l();
          } else if (w.attachEvent) {
            w.attachEvent("onload", l);
          } else {
            w.addEventListener("load", l, false);
          }
        }
      })();
    </script>

    <script>
      !(function () {
        var analytics = (window.analytics = window.analytics || []);
        if (!analytics.initialize)
          if (analytics.invoked)
            window.console &&
              console.error &&
              console.error("Segment snippet included twice.");
          else {
            analytics.invoked = !0;
            analytics.methods = [
              "trackSubmit",
              "trackClick",
              "trackLink",
              "trackForm",
              "pageview",
              "identify",
              "reset",
              "group",
              "track",
              "ready",
              "alias",
              "debug",
              "page",
              "once",
              "off",
              "on",
              "addSourceMiddleware",
              "addIntegrationMiddleware",
              "setAnonymousId",
              "addDestinationMiddleware",
            ];
            analytics.factory = function (e) {
              return function () {
                var t = Array.prototype.slice.call(arguments);
                t.unshift(e);
                analytics.push(t);
                return analytics;
              };
            };
            for (var e = 0; e < analytics.methods.length; e++) {
              var key = analytics.methods[e];
              analytics[key] = analytics.factory(key);
            }
            analytics.load = function (key, e) {
              var t = document.createElement("script");
              t.type = "text/javascript";
              t.async = !0;
              t.src =
                "https://cdn.segment.com/analytics.js/v1/" +
                key +
                "/analytics.min.js";
              var n = document.getElementsByTagName("script")[0];
              n.parentNode.insertBefore(t, n);
              analytics._loadOptions = e;
            };
            analytics._writeKey =
              "<%= htmlWebpackPlugin.options.segmentWriteKey %>";
            analytics.SNIPPET_VERSION = "4.13.2";
            analytics.load("<%= htmlWebpackPlugin.options.segmentKey %>");
            analytics.page();
          }
      })();
    </script>
    <link rel="icon" href="https://i.ibb.co/HnSk02f/ptr.png" />
    <meta
      name="description"
      content="Kubernetes powered PaaS that runs in your own cloud."
    />
    <meta property="og:title" content="Porter" />
    <meta
      property="og:image"
      content="https://i.ibb.co/52g2g7C/porter-wide.png"
    />
    <meta
      property="og:description"
      content="Kubernetes powered PaaS that runs in your own cloud."
    />
    <meta property="og:url" content="https://porter.run" />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600"
      rel="stylesheet"
    />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round"
      rel="stylesheet"
    />
    <!-- Coding languages icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css"
    />
  </head>

  <body>
    <div id="output"></div>
    <div id="modal-root"></div>
  </body>
</html>
